.sign-up-in {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.sign-up-in__logo {
  margin: 0 0 37px;
}

.sign-up-in__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 22px;
}

.sign-up-in__form {
  display: grid;
}

.sign-up-in__form-label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 18px 0 5px;
}

.sign-up-in__form-input {
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}

.sign-up-in__form-input:focus {
  border-color: #ff6838;
}

.sign-up-in__form-error {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.sign-up-in__form-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #ff6838;
  border-radius: 3px;
  color: #ffffff;
  height: 45px;
  padding: 0;
  margin-bottom: 16px;
}

.sign-up-in__form-button_register {
  margin-top: 146px;
}

.sign-up-in__form-button_login {
  margin-top: 215px;
}

.sign-up-in__container {
  text-align: center;
}

.sign-up-in__text {
  margin-right: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.sign-up-in__link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #ff6838;
  text-decoration: none;
}

@media (max-width: 480px) {
  .sign-up-in {
    width: calc(260px + (396 - 260) * ((100vw - 320px) / (480 - 320)));
    text-align: center;
  }

  .sign-up-in__logo {
    margin: 0 0 47px;
  }

  .sign-up-in__title {
    margin-bottom: 80px;
  }

  .sign-up-in__form {
    text-align: start;
  }

  .sign-up-in__form-button {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 11px;
  }

  .sign-up-in__form-button_register {
    margin-top: 240px;
  }

  .sign-up-in__form-button_login {
    margin-top: 309px;
  }

  .sign-up-in__text {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-up-in__link {
    font-size: 12px;
    line-height: 15px;
  }
}
