.sign-up-in__container {
  margin: 70px auto;
  max-width: 396px;
}

.sign-up-in__logo {
  margin: 0 0 37px;
}

.sign-up-in__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 22px;
}

.sign-up-in__form {
  display: grid;
}

.sign-up-in__form-label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 18px 0 5px;
}

.sign-up-in__form-input {
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}

.sign-up-in__form-input:focus {
  border-color: #ff6838;
}

.sign-up-in__form-error {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.sign-up-in__form-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #ff6838;
  border-radius: 3px;
  color: #ffffff;
  height: 45px;
  padding: 0 2px 2px 0;
  margin-bottom: 15px;
}

.sign-up-in__form-button_register {
  margin-top: 146px;
}

.sign-up-in__form-button_login {
  margin-top: 215px;
}

.sign-up-in__text {
  margin: 0 7px 0 56px;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.sign-up-in__text_register {
  margin-left: 89px;
}

.sign-up-in__link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #ff6838;
  text-decoration: none;
}

@media (max-width: 768px) {
  .sign-up-in__container {
    margin: 232px auto;
  }
}

@media (max-width: 480px) {
  .sign-up-in__container {
    max-width: calc(260px + (396 - 260) * ((100vw - 320px) / (480 - 320)));
    margin: 56px auto 30px;
    text-align: center;
  }

  .sign-up-in__logo {
    margin: 0 0 47px;
  }

  .sign-up-in__title {
    margin-bottom: 62px;
  }

  .sign-up-in__form {
    text-align: start;
  }

  .sign-up-in__form-button {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .sign-up-in__form-button_register {
    padding: 0 1px 0 0;
    margin-bottom: 11px;
    margin-top: 234px;
  }

  .sign-up-in__form-button_login {
    padding-bottom: 0;
    margin-top: 303px;
  }

  .sign-up-in__text {
    margin-left: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .sign-up-in__link {
    font-size: 12px;
    line-height: 15px;
  }
}
