#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
