.about-me__container {
  margin: 65px auto 0;
  display: grid;
  column-gap: 50px;
  grid-template-areas:
    'about-me__title about-me__avatar'
    'about-me__subtitle about-me__avatar'
    'about-me__text about-me__avatar'
    'about-me__link about-me__avatar';
}

.about-me__title {
  grid-area: about-me__title;
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__subtitle {
  grid-area: about-me__subtitle;
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__text {
  grid-area: about-me__text;
  max-width: 595px;
  margin: 0 0 99px;
  font-size: 14px;
  line-height: 22px;
}

.about-me__link {
  grid-area: about-me__link;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.about-me__avatar {
  grid-area: about-me__avatar;
  justify-self: end;
  max-width: 270px;
  height: 327px;
}

@media (max-width: 768px) {
  .about-me__container {
    column-gap: 25px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__text {
    max-width: 360px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .about-me__avatar {
    max-width: 255px;
    height: 307px;
  }
}

@media (max-width: 480px) {
  .about-me__container {
    margin-top: 60px;
    grid-template-areas:
      'about-me__avatar'
      'about-me__title'
      'about-me__subtitle'
      'about-me__text'
      'about-me__link';
  }

  .about-me__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__avatar {
    max-width: none;
    height: auto;
    justify-self: center;
    margin-bottom: 40px;
  }
}
